body{
	height: 100vh;
	width: 100%;
}

.container{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 2rem;
    background-color: slategray;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-box{
    width: 100%;
    max-width: 800px;
    background-color:#778899;
    border-radius: 15px;
    box-shadow: 0 0 20px 1px rgba(235, 233, 233, 0.292);
    z-index: 1000;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.left-container{
    background: url("frosty-ilze-LlvfEJXGnc4-unsplash.jpg") no-repeat center;
	background-size: cover;
}
.right-container{
	padding: 25px 40px;
}

.field{
    border-radius:25px;
	width: 95%;
	border: 2px solid rgba(0, 0, 0, 0);
	outline: none;
	background-color: rgba(230, 230, 230, 0.6);
	padding: 0.5rem 1rem;
	font-size: 1.1rem;
	margin-bottom: 20px;
}


::placeholder { 
    color: #1c1b1b;
}


.title  {
    font-family: 'Pacifico', cursive;
    font-size: 2.0rem;
    display: flex;
    justify-content: center;
    color: black;
    text-decoration: underline;
    text-transform: uppercase;
    padding:1rem;

}

p{
    font-family: 'Pacifico', cursive;
    font-size: 1.0rem;
    display: flex;
    justify-content: center;
    padding: 0.75rem;
}

.buttons{
    display: flex;
    justify-content: space-evenly;
}

.btn{
        position: relative;
        border: 5px solid white;
        font-size: 1.25rem;
        letter-spacing: 1px;
        text-transform: uppercase;
        outline: none;
        border-radius:25px;
        background: transparent;
        cursor: pointer;
        color: white;
    
}

